
<div class="border-design">
<%= - @question %>
<h3>-- You</h3>

</div>

<div class="background-div-design border-design">
<%= @answer %>
<h3>-- Your coach</h3>

</div>

<%= link_to "Ask a new question", ask_path %>
